.md-text .tag-plugin.emoji
  display: inline-block
  margin: -4px 2px 0
  vertical-align: middle
  img
    display: block
    object-fit: contain
    height: 1.75em
    border-radius: 0
    transition: transform 0.3s ease
    &:hover
      transform: scale(1.2)
