.divider-container
  display flex
  align-items center
  text-align center
  margin 20px 0

  .divider-line
    flex 1
    border-bottom 1px dashed #ccc // 灰色虚线

  .divider-text
    padding 0 15px
    color #888          // 灰色文字
    font-size 14px
    font-family "Microsoft YaHei", sans-serif
    // white-space nowrap  // 确保文字不会换行