<%

function layoutTocBody() {
  if (toc(page.content).length > 0) {
    return toc(page.content, {
      list_number: item.list_number,
      min_depth: item.min_depth,
      max_depth: item.max_depth
    })
  }
  return ''
}

function layoutTocHeader(title) {
  var el = ''
  el += `<div class="widget-header dis-select">`
  el += `<span class="name">${title || __("meta.toc")}</span>`
  el += `<a class="cap-action" onclick="sidebar.toggleTOC()" >${icon('default:rightbar')}</a>`
  el += `</div>`
  return el
}

function layoutToc(fallback) {
  const tocBody = layoutTocBody()
  if (tocBody.length == 0) {
    return ''
  }
  var el = ''
  el += `<widget class="widget-wrapper${scrollreveal(' ')} toc" id="data-toc" collapse="${item.collapse}">`
  el += layoutTocHeader()
  el += `<div class="widget-body">`
  el += tocBody
  el += `</div>`
  el += `</widget>`
  return el
}

function layoutDiv(fallback) {
  const tocBody = layoutTocBody()
  if (tocBody.trim().length == 0) {
    return ''
  }
  var el = ''
  el += `<widget class="widget-wrapper${scrollreveal(' ')} toc" id="data-toc" collapse="${item.collapse}">`
  if (tocBody.length > 0) {
    el += layoutTocHeader()
    el += `<div class="widget-body">`
    el += tocBody
    el += `</div>`
  }
  el += `<div class="widget-footer">`
  el += `<a class="top" onclick="util.scrollTop()">`
  el += icon('myself:upload-outline')
  el += `<span>${__('btn.top')}</span>`
  el += `</a>`
  if (theme.comments.service && theme.comments.service.length > 0) {
    if (page.comments == undefined || page.comments != false) {
      el += `<a class="buttom" onclick="util.scrollComment()">`
      el += icon('myself:chat')
      el += `<span>${__('btn.comments')}</span>`
      el += `</a>`
    }
  }
  var relativePath = page.source;
  <!-- 编辑本页 -->
  el += `<a class="edit-btn" href="https://github.com/thun888/myblog/edit/main/source/${relativePath}">`
  el += icon('myself:edit-twotone')
  el += `<span>${__('btn.edit')}</span>`
  el += `</a>`
  <!-- 删除模式 -->
  el += `<a class="delmode-btn" onclick="toggleDeleteMode()">`
  el += icon('myself:close-circle')
  el += `<span>${__('btn.delmode')}</span>`
  el += `</a>`
  <!-- 有害内容反馈 -->
  el += `<a class="report-btn" href="https://wj.qq.com/s2/21008541/d4f8/">`
  el += icon('myself:alert')
  el += `<span>${__('btn.report')}</span>`
  el += `</a>`
  
  el += `</div>`
  el += `</widget>`
  return el
}

%>

<%- layoutDiv() %>
